body{
    background-color: lightcoral;
}

body div{
    text-align: center;
   
}

.titulos {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: whitesmoke;
    filter: drop-shadow(2px 4px 6px black);
    padding: 5px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


.contacto{
display: flex;
flex-direction: row;
justify-content: center;
}

.actions{
    display: flex;
        flex-direction: column;
        gap: 50px;
}
.send{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
   }

.reset{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px ;

}
.comentarios{
    width: 300px;
    height: 150px;
    margin-bottom: 30px;
    }


/* responsive */

@media(max-width: 630px){
    
    iframe{ width: 95vw ;
  
    }}


@media(max-width: 460px){
    .contacto{
        flex-direction: column;
    }}