@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Permanent+Marker&display=swap');

.header{
    background-color: lightcoral;
   width: 100%;
}

header img {
    display: block;
    margin: auto;
    display: block;
    width: 150px;
          }




header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        font-size: 50px;
        background-color: lightcoral;
        margin: 0
}



.titulo{
    color: lightgoldenrodyellow;
    font-size: 60px;
    padding: 10px;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
   }


.presentacion{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 30px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px 20px;
}

div h3{
    font-size:large;
}

section{
    font-family: Arial, Helvetica, sans-serif;
}
section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px 0;
    background-color: whitesmoke;
    margin: 10px;
     filter: drop-shadow(2px 4px 6px black);
}

ol li{
    text-align: center;
    font-size: 20px;
}

article{
    text-align: center;
}

div h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
}

h6{
    text-align: center;
    font-size:large;
        margin: 10px 0;
}
