  
  .nav_container {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color:whitesmoke;
      filter: drop-shadow(2px 4px 6px black);
    padding: 15px 0;
    margin: 10px
  }
  

li{
    list-style: none;
}


  nav button{
    background-color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
}

 nav button:hover{
    background-color: pink;
 }


nav button a{
    text-decoration: none;
}


/* responsive */

@media(max-width: 700px){
    .nav_container {
        display: flex;
        flex-direction: column;
    }
nav button{
    width: 250px;
}}